@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  color: #fccb06;
  background-color: rgb(12, 12, 12);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
h1{
  font-size: 1.8rem;
}

.title{
  text-shadow: 1px 0 0   #fccb06;
  margin-top: 0rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  margin-bottom: 2rem;
  /* padding-left: 7rem;
  padding-right: 7rem; */
  border-radius: 20px;
  box-shadow: 0 0 10px white;
  transition: 0.5s;
  padding-bottom: 3rem;
  background: #00151e;
  width: 68rem;
  height: 22rem;
}
/* 
.inputs:hover {
  transform: scale(1.002);
} */

.inp {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 5rem;
  margin-right: 5rem; */
}
.inp-1 {
  display: flex;
}
.inp-2 {
  display: flex;
}
input {
  height: 2rem;
  border-radius: 10px;
  transition: 0.4s;
  font-size: large;
  width: 12rem;
  padding-left: 6rem;
  color: black;
  border: 2px solid #fccb06;
}

/* input:hover {
  transform: scale(1.04);
} */

.submit {
  height: 3rem;
  width: 20rem;
  color: black;
  background-color: #fccb06;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 500;
  border: 1px solid white;
  box-shadow: 0 0 6px white;
  transition: 0.4s;
  cursor: pointer;
  font-weight: 550;
  margin-top: 1rem;
}

.submit:hover {
  transform: scale(1.05);
}

.ans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fccb06;
  border: 2px solid white;
  padding-top: 4rem;
  /* padding-right: 2rem;  */
  border-radius: 10px;
  box-shadow: 0 0 10px white;
  height: 6rem;
  width: 27rem;
  padding-bottom: 2rem;
}
.ans-text {
  font-size: 3rem;
  /* margin-left: 7rem; */
  transition: 0.3s;
  color: white;
  
  /* 
  margin-top: 2px;
  margin-left: 7rem; */
  /* text-shadow: 0px 0px 5px white; */
}
.ans-text:hover {
  text-shadow: 0 0 5px white;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: 79rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title{
    font-size: 1.5rem;
    margin-left: 2rem;
  }

  .inputs {
    display: flex;
    width: 18rem;
    height: 55rem;
    margin-left: 2rem;
  }

  .inp-1 {
    display: flex;
    flex-direction: column;
  }
  .inp-2 {
    display: flex;
    flex-direction: column;
  }
  input {
    width: 12rem;

    padding-left: 15px;
  }
  h1 {
    font-size: 20px;
  }

  .submit {
    width: 15rem;
    margin-top: 2rem;
  }
  .submit:hover {
    transform: scale(1);
  }

  .ans {
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
   
  }

  .ans-text {
    margin: 0;
    padding: 0;
    font-size: 25px;
  }

  .wt-text {
    font-size: 19px;
  }
}
